/* IMPORT FONT */
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* GLOBAL ELEMENTS */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 24;
  color: #3d3d3d;
  padding: 0;
  margin: 0;
  transition: all 400ms ease;
}

html {
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
}
section {
  margin: 0;
  padding: 0;
  max-width: 1280px;
}

button {
  border: none;
  cursor: pointer;
}

i {
  font-size: 32px;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

input,
textarea {
  outline: none;
  border: none;
  background: none;
  resize: none;
}

section {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

.container {
  margin: 24px;
  padding: 0;
}

.row {
  margin: 0;
  padding: 24px;
}

.color--text {
  color: #f03fe4c2;
}

.section__title {
  font-size: 48px;
}

.section__text {
  font-size: 16px;
}

.dark__mode {
  background-color: #3d3d3d;
  color: #f5f5f5;
  position: relative;
  z-index: -1000;
}

.dark__mode .section__title,
.dark__mode .section__text {
  color: #f5f5f5 !;
}

/* HEADER */
.header__wrapper {
  z-index: 1000;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__wrapper {
  display: flex;
  padding: 16px;
  margin: 0 8px 0 0;
}

.logo__img {
  width: 128px;
  margin-right: 8px;
}

.dark__mode .logo__img {
  filter: invert(1);
}

.nav__bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 16px;
  width: 50%;
}

.nav__list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.item__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  margin: 8px;
  gap: 48px;
}

.item__button,
.contrast__toggle {
  border-radius: 8px;
  width: 56px;
  height: 56px;
  padding: 8px;
  border: solid 2px transparent;
  background-color: #f5f5f5;
}

.dark__mode .item__button,
.dark__mode .contrast__toggle {
  background-color: #3d3d3d;
}

.dark__mode .item__button .item__icon,
.dark__mode .contrast__toggle .item__icon {
  color: #f5f5f5;
}

.item__button:hover .item__icon,
.contrast__toggle:hover .item__icon {
  color: #f5f5f5;
}

.dark__mode .item__button:hover .item__icon,
.dark__mode .contrast__toggle:hover .item__icon {
  color: #3d3d3d;
}

.item__button:hover,
.contrast__toggle:hover {
  background-color: #f03fe4c2;
  transform: scale(0.8);
}

.item__button:active,
.contrast__toggle:active {
  transform: scale(1.2);
}

.nav__item {
  opacity: 0;
  transform: translateX(-50%);
  font-size: 20px;
  transition: all 400ms 200ms ease;
  color: #3d3d3d;
}

.dark__mode .nav__item {
  color: #f5f5f5;
}

.item__button:hover ~ .nav__item {
  opacity: 1;
  transform: scale(1);
}

.item__button:active ~ .nav__item {
  transition: all 400ms ease;
  color: #f03fe4c2;
}

/* MODALS */
/* Background */
.modal__background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #272727;
  transition: all 400ms ease;
  display: none;
}

/* Modal Container */
.modals {
  position: fixed;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
  width: 100%;
}

.modal {
  width: 700px;
  height: auto;
  background-color: #f5f5f5;
  border: 2px solid #272727;
  border-radius: 8px;
  padding: 48px;
  margin: 0 auto;
  transition: all 400ms ease;
  display: none;
  z-index: 1000;
}

.dark__mode .modal {
  background-color: #363636;
}

/* About Modal */
.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 24px;
  gap: 24px;

  .section__title {
    display: flex;
    width: 100%;
    justify-content: left;
  }

  .section__text {
    display: flex;
    width: 100%;
    justify-content: left;
    line-height: 24px;
  }
}

.dark__mode .about__wrapper {
  .section__text {
    color: #f5f5f5;
  }
  .section__title {
    color: #f5f5f5;
  }
}

/* Contact Modal */
.modal__contact {
  flex-direction: column;

  .modal__close {
    position: fixed;
    top: 0;
    right: 0;
    padding: 24px;
  }
}

.contact__wrapper {
  justify-content: left;
  width: 100%;
  gap: 24px;
  margin-bottom: 24px;
  padding: 24px;

  .section__text {
    margin-top: 24px;
  }
}

.dark__mode .contact__wrapper {
  .section__text,
  .section__title {
    color: #f5f5f5;
  }
}

.contact__form--wrapper {
  width: 100%;
}

.contact__form {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px;
}

.form__label,
.form__input {
  width: 100%;
  text-align: left;
  transition: all 400ms ease;
  color: #272727;
}

.dark__mode .contact__form {
  .form__label,
  .form__input {
    color: #f5f5f5;
  }
}

.form__input {
  border-bottom: 2px solid #ababab;
}

.form__input:hover {
  border-color: #363636;
}

.form__input:focus-within {
  border-color: #272727;
}

.dark__mode .form__input {
  border-color: #272727;
}

.dark__mode .form__input:hover {
  border-color: #ababab;
}

.dark__mode .form__input:focus-within {
  border-color: #f5f5f5;
}

.contact__submit {
  border-radius: 8px;
  border: 2px solid #3d3d3d;
  width: 100%;
  padding: 12px;
  font-size: 24px;
  margin-top: 24px;
}

.contact__submit:hover {
  background-color: #ababab;
  color: #f5f5f5;
}

.contact__submit:active {
  background-color: #f03fe4c2;
  color: #f03fe4c2;
}

/* Overlays */
.modal__overlay {
  width: 100%;
  border-radius: 8px;
  height: 100%;
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 2000;
  transition: all 400ms ease;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #f5f5f5;
}

.overlay--loading.hidden,
.overlay--success.hidden {
  display: none;
  opacity: 0;
}

.overlay--loading,
.overlay--success {
  opacity: 1;
  transition: all 400ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
  border-radius: 4px;
  font-size: 24px;
  padding: 48px;
}

.overlay--loading {
  background-color: #272727;
  z-index: 1000;
}

.overlay--success {
  background-color: #1cb105;
  z-index: 51;

  .section__text {
    font-size: 24px;
    color: #f5f5f5;
    margin: 0 auto;
    padding-top: 256px;
  }
}

/* Loader Animation */
.loader-container {
  width: 400px; /* Adjust width as needed */
  height: 12px;
  background: #272727;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  top: 50%;
}

.loader-dot {
  width: 12px;
  height: 12px;
  background: #f5f5f5;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  animation: ping-pong 2400ms infinite ease-in-out alternate;
}

@keyframes ping-pong {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(388px); /* Moves dot across the bar */
  }
}

/* Close Modal */
.modal__close--wrapper {
  padding: 24px;
  top: 0;
  right: 0;
  line-height: 0;
  margin: 0;
  position: fixed;
  z-index: 1000;
}

.close__modal {
  margin: 0;
  font-size: 40px;
  line-height: 0;
  transition: all 400ms ease;
  background-color: transparent;
  width: 52px;
  height: 52px;
  border-radius: 8px;
  color: #272727;
}

.dark__mode .close__modal {
  color: #f5f5f5;
}

.modal__close:hover .close__modal,
.close__modal:hover {
  background-color: #f03fe4c2;
  color: #f5f5f5;
  transform: scale(0.8);
}

.dark__mode .modal__close:hover .close__modal,
.dark__mode .close__modal:hover {
  color: #363636;
}

.dark__mode .modal__close:hover .dark__mode .close__modal,
.dark__mode .close__modal:hover {
  color: #363636;
}

.modal__close:active .close__modal,
.close__modal:active {
  color: #f03fe4c2;
  background-color: #272727;
  transform: scale(1.2);
}

/* Show Class */
.show {
  display: block;
  opacity: 1;
  visibility: visible;
}

.show .modals {
  display: flex;
}

.show .modal__background {
  transform: translateY(0);
}

.show .modal__about,
.show .modal__contact {
  transform: translateX(0);
}

/* Modal TranslateX  */
.modal__about {
  transform: translateX(-100%);
}

.modal__contact {
  transform: translateX(100%);
}

/* BURGER MENU */
.burger__menu {
  display: none;
  align-items: center;
  justify-content: center;
  top: 72px;
  right: 100px;
  position: fixed;
  width: 56px;
  height: 56px;
  border-radius: 8px;
}

.menu {
  opacity: 0;
  transform: translateX(100%);
  top: 0;
  right: 0;
  padding: 16px;
  position: fixed;
  background-color: #272727;
  transition: all 400ms ease;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.menu--open {
  opacity: 1;
  z-index: 100;
  transform: translateX(0);
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.burger__bars:hover,
.dark__mode .burger__bars:hover {
  color: #f03fe4c2;
}

.dark__mode .burger__bars {
  color: #f5f5f5;
}

.burger__button,
.burger__close {
  background: none;
}

.menu__item {
  font-size: 24px;
  margin: 0 auto;
}

.menu__item,
.fa-x {
  color: #f5f5f5;
  margin-top: 96px;
}

.menu__item:hover,
.fa-x:hover {
  color: #f03fe4c2;
  transform: scale(0.8);
}

.fa-x {
  position: absolute;
  top: 0;
  right: 48px;
}

/* SEARCH SECTION */
#searchSection {
  height: 100vh;
}

.search__container {
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 48px;
  gap: 24px;
  transition: all 400ms ease;
}

.search__text {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 768px;
  gap: 24px;
  margin: 0;

  .section__title {
    margin: 0;
  }
}

.dark__mode .search__text {
  .section__title {
    color: #f5f5f5;
  }

  .section__text {
    color: #f5f5f5;
  }
}

.search__wrapper {
  display: flex;
  flex-direction: row;
  border: solid 2px #3d3d3d;
  border-radius: 8px;
  padding: 8px;
  margin: 0;
  width: fit-content;
}

.dark__mode .search__wrapper {
  border-color: #f5f5f5;
}

.search__bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px;
  margin: 0;

  input {
    font-size: 20px;
  }

  button {
    font-size: 28px;
    border-radius: 8px;
    width: 56px;
    height: 56px;
    padding: 8px;
    border: solid 2px transparent;
    background-color: transparent;
  }

  button:hover {
    border-radius: 8px;
    width: 56px;
    height: 56px;
    padding: 8px;
    border: solid 2px transparent;
    background-color: #f03fe4c2;
  }

  button:hover i {
    color: #f5f5f5;
  }

  button:active {
    transform: translateX(-4px);
  }
}

.dark__mode .search__bar {
  input {
    color: #f5f5f5;
  }

  button i {
    color: #f5f5f5;
  }

  button i:hover {
    color: #3d3d3d;
  }
}

/* SHAPES */
.shapes {
  padding: 24px;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -10;
  overflow: hidden;
}

.shape__wrapper {
  position: relative;
  transition: all 400ms ease;
  will-change: transform;
  gap: 24px;
}

.shape {
  transform: none;
  opacity: 0.76;
  font-size: 16px;
  position: absolute;
  animation: shapeSpin 4800ms linear infinite;
}

.dark__mode .shape {
  filter: invert(1);
}

.shape--0 {
  top: 15vh;
  left: 10vw;
}

.shape--1 {
  top: 15vh;
  left: 50vw;
  filter: grayscale(1);
}

.shape--2 {
  top: 15vh;
  left: 90vw;
  filter: invert(1);
}

.shape--3 {
  top: 50vh;
  left: 10vw;
  filter: grayscale(1);
}

.shape--4 {
  top: 50vh;
  left: 50vw;
  filter: invert(1);
}

.shape--5 {
  top: 50vh;
  left: 90vw;
}

.shape--6 {
  top: 90vh;
  left: 10vw;
  filter: invert(1);
}

.shape--7 {
  top: 90vh;
  left: 50vw;
}

.shape--8 {
  top: 90vh;
  left: 90vw;
  filter: grayscale(1);
}

@keyframes shapeSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .header__wrapper {
    max-width: 700px;
    padding: 8px;
  }

  .nav__bar {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .burger__menu {
    display: flex;
  }

  .nav__item,
  .item__button {
    display: none;
  }

  .burger__menu {
    display: block;
  }

  .search__container {
    justify-content: center;
    text-align: center;
    padding: 32px;
    margin-top: 0;
  }

  .search__text {
    width: 480px;
  }
}
