/* IMPORT FONT */
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* GLOBAL ELEMENTS */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 24;
  color: #3d3d3d;
  padding: 0;
  margin: 0;
  transition: all 400ms ease;
}

html {
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

button {
  border: none;
  cursor: pointer;
}

svg {
  width: 32px;
  height: 32px;
  fill: currentColor;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

input,
textarea {
  outline: none;
  border: none;
  background: none;
  resize: none;
}

section {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

.container {
  margin: 24px;
  padding: 0;
}

.row {
  margin: 0;
  padding: 24px;
}

.color--text {
  color: #f03fe4c2;
}

.section__title {
  font-size: 48px;
}

.section__text {
  font-size: 16px;
}

.dark__mode {
  background-color: #3d3d3d;
  color: #f5f5f5;
  position: relative;
  z-index: -1000;
}

.dark__mode .section__title,
.dark__mode .section__text {
  color: #f5f5f5 !;
}

/* HEADER */

/* Containers/Wrappers/Logo */
.header__wrapper {
  z-index: 1000;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__wrapper {
  display: flex;
  padding: 16px;
  margin: 0 8px 0 0;
}

.logo__img {
  width: 128px;
  margin-right: 8px;
}

.dark__mode .logo__img {
  filter: invert(1);
}

.nav__bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 16px;
  width: 100%;
}

.nav__list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

/* HEADER BUTTON STYLES */
.item__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 8px;
  gap: 48px;
}

.item__button,
.contrast__toggle {
  border-radius: 8px;
  width: 56px;
  height: 56px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px transparent;
  background-color: #f5f5f5;
  transition: all 200ms ease;
}

.dark__mode .item__button,
.dark__mode .contrast__toggle {
  background-color: #3d3d3d;
}

.item__button:hover,
.contrast__toggle:hover {
  background-color: #f03fe4c2;
  transform: scale(0.8);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.item__button:active,
.contrast__toggle:active {
  transform: scale(1.2);
  box-shadow: none;
}

/* ICON STYLES */
.item__icon {
  font-size: 24px;
  transition: all 200ms ease;
}

.item__button:hover .item__icon,
.contrast__toggle:hover .item__icon {
  color: #f5f5f5;
}

.dark__mode .item__button:hover .item__icon,
.dark__mode .contrast__toggle:hover .item__icon {
  color: #3d3d3d;
}

/* NAVIGATION ITEMS */
.nav__item {
  opacity: 0;
  transform: translateX(-50%);
  font-size: 20px;
  transition: all 400ms 200ms ease;
  color: #3d3d3d;
}

.dark__mode .nav__item {
  color: #f5f5f5;
}

.item__button:hover ~ .nav__item {
  opacity: 1;
  transform: scale(1);
}

.item__button:active ~ .nav__item {
  color: #f03fe4c2;
}

/* MODALS */

/* Modal Background */
.modal__background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #272727;
  transition: all 400ms ease;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  overflow: hidden;
}

/* Modal Container */
.modals {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  z-index: 999;
}

/* Modal */
.modal {
  width: 700px;
  background-color: #f5f5f5;
  border: 2px solid #272727;
  border-radius: 8px;
  padding: 48px;
  margin: 0 auto;
  transition: all 400ms ease;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}

.dark__mode .modal {
  background-color: #363636;
}

/* About & Contact Modals */
.modal__about {
  transform: translateX(-200%);
}

.modal__contact {
  transform: translateX(200%);
}

.modal__about,
.modal__contact {
  flex-direction: column;
}

/* Modal Close Buttons */
.modal__about .modal__close,
.modal__contact .modal__close {
  position: fixed;
  top: 0;
  right: 0;
  padding: 24px;
}

/* Modal Wrappers */
.about__wrapper,
.contact__wrapper {
  justify-content: left;
  width: 100%;
  gap: 24px;
  margin-bottom: 24px;
  padding: 24px;
}

.about__wrapper .section__title,
.about__wrapper .section__text,
.contact__wrapper .section__title,
.contact__wrapper .section__text {
  display: flex;
  width: 100%;
  justify-content: left;
  line-height: 24px;
}

.contact__wrapper .section__text {
  margin-top: 24px;
}

.dark__mode .about__wrapper .section__title,
.dark__mode .about__wrapper .section__text,
.dark__mode .contact__wrapper .section__title,
.dark__mode .contact__wrapper .section__text {
  color: #f5f5f5;
}

/* Contact Form */
.contact__form--wrapper {
  width: 100%;
}

.contact__form {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px;
}

.contact__form .form__label,
.contact__form .form__input {
  width: 100%;
  text-align: left;
  transition: all 400ms ease;
  color: #272727;
}

.dark__mode .contact__form .form__label,
.dark__mode .contact__form .form__input {
  color: #f5f5f5;
}

.form__input {
  border-bottom: 2px solid #ababab;
}

.form__input:hover {
  border-color: #363636;
}

.form__input:focus-within {
  border-color: #272727;
}

.dark__mode .form__input {
  border-color: #272727;
}

.dark__mode .form__input:hover {
  border-color: #ababab;
}

.dark__mode .form__input:focus-within {
  border-color: #f5f5f5;
}

.contact__submit {
  border-radius: 8px;
  border: 2px solid #3d3d3d;
  width: 100%;
  padding: 12px;
  font-size: 24px;
  margin-top: 24px;
}

.contact__submit:hover {
  background-color: #ababab;
  color: #f5f5f5;
}

.contact__submit:active {
  background-color: #f03fe4c2;
  color: #f03fe4c2;
}

/* Overlays */
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 48px;
  z-index: 2000;
  transition: all 400ms ease;
  opacity: 0;
  top: 0;
  left: 0;
  color: #f5f5f5;
}

.overlay--loading,
.overlay--success {
  opacity: 1;
  display: flex;
}

.overlay--loading.hidden,
.overlay--success.hidden {
  display: none;
  opacity: 0;
}

.overlay--loading {
  background-color: #272727;
  z-index: 1000;
}

.overlay--success {
  background-color: #1cb105;
  z-index: 51;
}

.overlay--success .section__text {
  font-size: 24px;
  margin: 0 auto;
  padding-top: 256px;
  color: #f5f5f5;
}

/* Loader Animation */
.loader-container {
  width: 400px;
  height: 12px;
  background: #272727;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  top: 50%;
}

.loader-dot {
  width: 12px;
  height: 12px;
  background: #f5f5f5;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  animation: ping-pong 2400ms infinite ease-in-out alternate;
}

@keyframes ping-pong {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(388px);
  }
}

/* Close Modal */
.modal__close--wrapper {
  position: fixed;
  top: 0;
  right: 0;
  padding: 24px;
  z-index: 2000;
  line-height: 0;
  margin: 0;
}

.modal__close {
  margin: 0;
  margin-right: 52px;
  padding: 0;
  width: 0;
  height: 0;
}

.close__modal {
  width: 52px;
  height: 52px;
  border-radius: 8px;
  font-size: 40px;
  line-height: 0;
  margin: 0;
  background-color: transparent;
  color: #272727;
  transition: all 400ms ease;
}

.dark__mode .close__modal {
  color: #f5f5f5;
}

.close__modal:hover {
  background-color: #f03fe4c2;
  color: #f5f5f5;
}

.dark__mode .close__modal:hover {
  color: #363636;
}

.close__modal:active {
  background-color: #272727;
  color: #f03fe4c2;
}

/* Show Class */
.show {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}

.show .modal,
.show .modal__background {
  opacity: 1;
  transform: translate(0);
  visibility: visible;
}

.show .modal__about,
.show .modal__contact {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}

/* BURGER MENU */
.burger__menu {
  display: none;
  align-items: center;
  justify-content: center;
  top: 74px;
  right: 100px;
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  z-index: 1;
  cursor: pointer;
}

.menu {
  opacity: 0;
  transform: translateX(100%);
  top: 0;
  right: 0;
  padding: 16px;
  position: fixed;
  background-color: #272727;
  transition: all 400ms ease;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.menu--open {
  opacity: 1;
  z-index: 100;
  transform: translateX(0);
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.burger__bars:hover,
.dark__mode .burger__bars:hover {
  color: #f03fe4c2;
}

.dark__mode .burger__bars {
  color: #f5f5f5;
}

.burger__button,
.burger__close {
  background: none;
}

.menu__item {
  font-size: 24px;
  margin: 0 auto;
  color: #f5f5f5;
}

.menu__item:hover {
  color: #f03fe4c2;
  transform: scale(0.8);
}

.fa-x {
  position: absolute;
  top: 0;
  right: 48px;
  font-size: 36px;
  color: #f5f5f5;
  cursor: pointer;
}

.fa-x:hover {
  color: #f03fe4c2;
}

/* SEARCH SECTION */
#searchSection {
  height: 100vh;
  max-width: 1280px;
}

.search__container {
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 48px;
  gap: 24px;
  transition: all 400ms ease;
}

.search__text {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 768px;
  gap: 24px;
  margin: 0;

  .section__title {
    margin: 0;
  }
}

.dark__mode .search__text {
  .section__title {
    color: #f5f5f5;
  }

  .section__text {
    color: #f5f5f5;
  }
}

.search__wrapper {
  display: flex;
  flex-direction: row;
  border: solid 2px #3d3d3d;
  border-radius: 8px;
  padding: 8px;
  margin: 0;
  width: fit-content;
}

.dark__mode .search__wrapper {
  border-color: #f5f5f5;
}

.search__bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px;
  margin: 0;
  gap: 48px;

  input {
    font-size: 20px;
  }

  button {
    font-size: 28px;
    border-radius: 8px;
    width: 56px;
    height: 56px;
    padding: 8px;
    border: solid 2px transparent;
    background-color: transparent;
    color: #f5f5f5; /* Set icon color */
  }

  button:hover {
    border-radius: 8px;
    width: 56px;
    height: 56px;
    padding: 8px;
    border: solid 2px transparent;
    background-color: #f03fe4c2;
  }

  button:hover i {
    color: #f5f5f5;
  }

  button:active {
    transform: translateX(-4px);
  }
}

.dark__mode .search__bar {
  input {
    color: #f5f5f5;
  }

  button i {
    color: #f5f5f5;
  }

  button i:hover {
    color: #3d3d3d;
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .header__wrapper {
    max-width: 1000px;
  }

  #searchSection {
    max-width: 1000px;
  }

  .modal {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }

  .about__wrapper {
    padding: 48px;

    h3 {
      margin-top: 56px;
    }

    p {
      margin-top: 48px;
    }
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .modal {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }

  .about__wrapper {
    padding: 56px;

    h3 {
      margin-top: 56px;
    }

    p {
      margin-top: 48px;
    }
  }

  .modal__contact {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .contact__wrapper,
  .contact__form--wrapper {
    text-align: center;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .header__wrapper {
    max-width: 700px;
    padding: 8px;
  }

  .nav__bar {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .burger__menu {
    display: flex;
  }

  .nav__item,
  .item__button {
    display: none;
  }

  .burger__menu {
    display: block;
  }

  .search__container {
    padding: 24px;
    margin: 12px;
    gap: 48px;
  }

  .search__text {
    width: 600px;
    gap: 24px;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
}
